@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Merienda:wght@400;500;600;700&display=swap');
/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root{
    /* === COLORS === */

    /* bg collors */
    --bg-cream: #F7F6F1;
    --bg-beige: #BE9C79;
    --bg-white: #fff;
    --bg-dark-1: #333333;
    --bg-dark-2: #121212;

    /* text color */
    --text-white: #fff;
    --text-black: #333333;
    --text-beige: #BE9C79;

    /* border color */
    --border: 1px solid #E2DFDD;

    /* font size */
    --font-size-1: 20px;
    --font-size-2: 28px;
    --font-size-3: 30px;
    --font-size-4: 48px;
    --font-size-5: 50px;
    --font-size-6: 60px;
    --font-size-7: 80px;

    /* font weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semiBod: 600;
    --fw-bold: 700;

    /* box shadow */
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);;
}



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-cream);
    color: var(--text-black);
}

html{
    font-family: 'Jost', sans-serif;
    font-weight: normal;
    /* font-family: 'Merienda', cursive; */
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-track{
    background-color: var(--bg-dark-1);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--bg-beige);
    border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover{
    background-color: #be9b79e0;
}

span,
input,
select,
button{
    display: block;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    height: auto;
}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.h1{
    font-size: var(--font-size-7);
    font-family: 'Merienda', cursive;
}

.section-text{
    font-size: var(--font-size-4);
    font-family: 'Merienda', cursive;
    text-align: center;
}

.page-text{
    font-size: var(--font-size-6);
    font-family: 'Merienda', cursive;
    color: var(--text-white);
    text-align: center;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 16px;
}

.section-title{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}


/*-----------------------------------*\
  #COMPONENT
\*-----------------------------------*/
.btn{
    display: inline-block;
    /* justify-content: center;
    align-items: center; */
    padding: 10px 34px;
    background-color: var(--bg-beige);
    border: 1px solid var(--bg-beige);
    color: var(--text-white);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.btn::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: var(--bg-dark-1);
    border-radius: 5px;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.btn:hover::after,
.btn-outline:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}

.btn:hover{
    border: 1px solid var(--bg-dark-1);
    border-radius: 7px;
}

.btn-outline{
    display: inline-block;
    padding: 10px 34px;
    background-color: transparent;
    border: 1px solid --bg-dark-1;
    color: var(--text-black);
    border: 1px solid var(--bg-beige);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.btn-outline::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: var(--bg-beige);
    border-radius: 5px;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.btn-outline:hover{
    color: var(--text-white);
    border-radius: 7px;
}



/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--bg-white);
    box-shadow: var(--box-shadow);
    padding-block: 16px;
    z-index: 2;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

header nav,
header nav ul,
header nav .nav-wrapper{
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav,
header nav ul{
    flex-grow: 1;
}

header nav ul{
    justify-content: center;
}

header nav.active {
    display: block;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    color: var(--text-black);
    padding-inline: 16px;
}

header nav ul li a:hover{
    color: var(--text-beige);
}

header nav ul li a.active{
    position: relative;
    color: var(--text-beige);
}

header nav ul li a.active::before{
    content: "";
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: -4px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--bg-beige);
}

header #menu-bar{
    display: none;
    cursor: pointer;
    transition: 0.2s linear;
}

/*-----------------------------------*\
  #HERO 
\*-----------------------------------*/
.hero{
    position: relative;
}
.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    min-height: 89.6vh;
    text-align: center;
}

.hero-content,
.hero-banner{
    z-index: 1;
}

.hero-content img{
    padding-block: 15px;
}

.hero-content .buttons{
    padding-block-start: 15px;
}

.hero-content .buttons .btn{
    margin-left: 20px;
}

.hero-banner .animation{
    width: 532px;
    animation-name: infiniteUpDown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
}

@keyframes infiniteUpDown{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-40px);
    }

    100%{
        transform: translateY(0px);
    }
}

.hero-bg{
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
}






/*-----------------------------------*\
  #MEDIA QUARIES
\*-----------------------------------*/
/* smaller than  1200px*/
@media (max-width: 1200px){
    /* === REUSED STYLE === */
    .container{
        max-width: 1160px;
    }

    .h1{
        font-size: var(--font-size-6);
    }

    /* === HERO === */
    .hero .container{
        min-height: 89vh;
    }

    .hero-banner .animation{
        width: 500px;
    }
}


/* smaller than 1024px */
@media (max-width: 1024px){
    /* === REUSED STYLE === */
    .container{
        max-width: 982px;
    }

    .h1{
        font-size: var(--font-size-5);
    }

    /* === HERO === */
    .hero .container{
        min-height: 89.6vh;
    }

    .hero-banner .animation{
        width: 450px;
    }
}



/* smaller than  992pxpx*/
@media (max-width: 992px) {
    /* === REUSED STYLE === */
    .container{
        max-width: 950px;
    }

    .h1{
        font-size: var(--font-size-6);
    }

    /* === HEADER === */
    header nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--bg-white);
        border-top: 1px solid var(--bg-dark-1);
        padding: 16px 24px;
        transition: 0.5s ease;
        display: none;
    }

    header nav ul{
        display: block;
    }

    header nav ul li{
        display: block;
        text-align: center;
        width: 100%;
    }

    header nav ul li a{
        display: block;
        padding-block: 16px;
    }

    header nav ul li a.active::before{
        display: none;
    }

    header nav .btn{
        min-width: 100%;
        text-align: center;
    }

    header #menu-bar{
        display: block;
        color: var(--bg-dark-1);
        font-size: 18px;
    }

    header .fa-times{
        transform: rotate(180deg);
    }

    /* === HERO === */
    .hero .container{
        flex-direction: column;
        gap: 55px;
        padding-block-start: 109px;
    }
}


/* smaller than  768pxpx*/
@media (max-width: 768px){
    /* === REUSED STYLE === */
    :root{
        /* font size */
        --font-size-5: 35px;
    }

    /* === HERO === */
    .hero .container{
        gap: 55px;
    }

    .hero-banner .animation{
        width: 400px;
        /* animation: none; */
    }

    /* === COMPONENT === */
    .scroll-up{
        right: 16px;
    }

    .scroll-up.active{
        bottom: 16px;
    }


    /* === HERO === */
    /* .animation{
        display: none;
    } */
}




/* smaller than  360pxpx*/
@media (max-width: 360px){
    /* === CUSTOM PROPERTY === */
    :root{
        /* font size */
        --font-size-1: 18px;
        --font-size-2: 22px;
        --font-size-3: 24px;
        --font-size-4: 28px;
        --font-size-5: 35px;
        --font-size-6: 40px;
        --font-size-7: 60px;
    }

    /* === REUSED STYLE === */
    .container{
        max-width: 340px;
        /* margin-inline: 0; */
    }

    /* === HERO === */
    .hero .container{
        min-height: 88.5vh;
        padding-block-start: 50px;
    }

    .hero-banner{
        /* display: none; */
    }

    .hero-banner .animation{
        width: 300px;
    }

    .hero-content .buttons .btn{
        margin-left: 0;
    }
}